@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');



body{
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.5vmin;
    font-weight: 400;
    background-color: #6f6f6f;
    user-select: none;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1vmin;
    padding: 5vmin;
    justify-content: space-between;
    align-items: center;
}
.input{
    border: 0.1vmin solid #000;
    width: 50vmin;
    height: 7.5vmin;
    border-radius: 0.5vmin;
    padding: 2vmin;
}
.copy{
    background-color: green;
    width: 10vmin;
    height: 10vmin;
    margin-left: 5vmin;
    border-radius: 2vmin;
    border: 0.1vmin solid #000;
}
.block{
    display: flex;
    align-items: center;
}
.block+.block{
    margin-top: 5vmin;
}