@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');



body {
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.5vmin;
    font-weight: 400;
    background-color: #2a2a2ab0;
    user-select: none;
    --input-size: 42vmin;
}

.wrapper {
    padding: 5vmin;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5vmin 5vmin;
}

.block {
    width: 100%;
    background-color: #4f4f4f;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0vmin 0vmin 1vmin #0000004d;
    padding: 1vmin;
    border-radius: 2vmin;
}

.plus{
    font-size: 3vmin;
    font-weight: 700;
}

.inputs{
    width: 100%;
    display: flex;
    column-gap: 1vmin;
    align-items: center;
    color: #282828;
}

.input {
    box-shadow: 0vmin 0vmin 1vmin #0000004d;
    width: 100%;
    font-weight: 700;
    height: 0vmin;
    border-radius: 2vmin;
    padding: 1.3vmin 2vmin;
    background-color: #282828;
    color: #d9d9d9;
    font-size: 1.2vmin;
}

.dop{
    box-shadow: 0vmin 0vmin 1vmin #0000004d;
    width: 100%;
    font-weight: 700;
    height: 0vmin;
    border-radius: 2vmin;
    padding: 1.3vmin 2vmin;
    background-color: #282828;
    color: #d9d9d9;
    font-size: 1.2vmin;
}

.copy {
    background-color: rgb(46, 46, 46);
    padding-top: 0.2vmin;
    width: 100%;
    height: 4.5vmin;
    margin-top: 1vmin;
    border-radius: 2vmin;
    box-shadow: 0vmin 0vmin 1vmin #0000004d;
    text-transform: uppercase;
    color: #ffffff47;
    font-size: 4vmin;
    overflow: hidden;
    letter-spacing: 3vmin;
    justify-content: center;
    display: flex;
}

.anim{
    animation: anim 0.1s forwards;
}

@keyframes anim{
    0%{
        background-color: none;
    }
    100%{
        background-color: #1c1c1c;
    }
}
