@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');



body {
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.5vmin;
    font-weight: 400;
    background-color: #353535;
    user-select: none;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3vmin;
    padding: 3vmin 3vmin;
    justify-content: space-between;
    align-items: end;
}

.input {
    box-shadow: 0vmin 0vmin 1vmin #0000004d;
    width: 85vmin;
    font-weight: 700;
    height: 0vmin;
    border-radius: 2vmin;
    padding: 1.3vmin 2vmin;
    background-color: #282828;
    color: #d9d9d9;
    font-size: 1.2vmin;
}

.copy {
    background-color: rgb(46, 46, 46);
    width: 50%;
    height: 5vmin;
    margin-top: 1vmin;
    border-radius: 2vmin;
    box-shadow: 0vmin 0vmin 1vmin #0000004d;
    text-transform: uppercase;
    color: #ffffff47;
    font-size: 5vmin;
    overflow: hidden;
    letter-spacing: 3vmin;
    justify-content: center;
    display: flex;
}

.block {
    background-color: #4f4f4f;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0vmin 0vmin 1vmin #0000004d;
    padding: 1vmin;
    border-radius: 2vmin;
}